
html {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: none;
  margin: 2em auto;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  color: black;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

.App footer {
  font-size:.75em;
  margin: 10px 0;
  margin-bottom: 1rem;
}

.App img {
  max-width: 600px;
}