.FutureDay {
  margin-top: 2em;
}

.FutureDay h3 {
  font-size: 16px;
  color: black;
}

.FutureDay #description {
  font-size: 14px;
}

.FutureDay .temps {
  font-size: 14px;
  font-weight: 100;
}
.FutureDay #high {
  color: darkred;
}

.FutureDay #low {
  color: royalblue;
}

.FutureDay #unit {
  font-size: 10px;
  position: relative;
  top: -2px;
}

.FutureDay img {
  width: 75%;
  margin: 0 auto;
}