.FutureExpanded {
  max-width: 500px;
  margin: 0 auto;
  margin-top: .5em;
  padding: .75em;
  background-color: aliceblue;
  border-radius: 1rem;
  box-shadow: 0px 5px 5px -5px #6E6E6E;
}
.FutureExpanded h4 {
  margin: 0;
  font-size: .9em;
  text-align: center;
  color: rgb(63, 63, 63);
  position: relative;
  bottom: -10px;
}
.FutureExpanded #description {
  font-size: .8em;
  text-transform: capitalize;
  margin-bottom: 0;
}

.FutureExpanded .Details {
  font-size: .8em;
}

.FutureExpanded #detials {

  display: flex;
  flex-direction: column;
}

.FutureExpanded #rain, #snow {
  font-size: .6em;
  margin-bottom: .5em;
  color: navy;
}

.FutureExpanded #value {
  color: rgb(135, 135, 135);
}

.FutureExpanded ul {
  list-style: none;
  color: rgb(63, 63, 63);
  margin-bottom: 0;
}
.FutureExpanded .Moon {
  margin-top: .5rem;
}

.FutureExpanded #moon {
  text-transform: capitalize;
  font-weight: 200;
  color: rgb(63, 63, 63);
  font-size: 1em;
}

.FutureExpanded #phase {
  color: navy;
  text-transform: capitalize;
  font-size: .85em;
  margin-bottom: 1em;
}

.FutureExpanded .btn {
  box-shadow: 0px 2px 9px -5px #6E6E6E;
  max-width: 8rem;
}

.FutureExpanded .btn:hover {
  box-shadow: 0px 5px 11px 0px #6E6E6E;
}