.FutureDay {
  margin-top: 2em;
}

.FutureDay h3 {
  font-size: 1em;
  color: black;
}

.FutureDay #description {
  font-size: .8em;
}

.FutureDay .temps {
  font-size: .8em;
  font-weight: 100;
}
.FutureDay #high {
  color: darkred;
}

.FutureDay #low {
  color: royalblue;
}

.FutureDay #unit {
  font-size: .7em;
  position: relative;
  top: -.25em;
}

.FutureDay img {
  width: 75%;
  margin: 0 auto;
}