.FutureDay {
  margin-top: 1em;
  padding: .25em .25em;
}

.FutureDay:hover {
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0px 3px 5px -5px #6E6E6E;
}
.FutureDay h3 {
  font-size: .8em;
  position: relative;
  top: 10px;
  color: black;
}

.FutureDay #description {
  font-size: .7em;
}

.FutureDay .temps {
  font-size: .75em;
  font-weight: 100;
}
.FutureDay #high {
  color: darkred;
}

.FutureDay #low {
  color: royalblue;
}

.FutureDay #unit {
  font-size: .7em;
  position: relative;
  top: -.25em;
}

.FutureDay img {
  width: 75%;
  margin: 0 auto;
}