.Weather {
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 16px;
  color: rgb(135, 135, 135);
  background-color: white;
}

.Weather #helper {
  display: block;
  margin: 0 auto;
  padding-top: 1em;
}

.Weather .HeaderImage {
  width: 250px;
  height: auto;
}